.projects-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #CCCCCC;
}

.projects-container h2 {
    font-family: "Comfortaa", cursive;
    font-weight: 700;
    font-size: 2rem;
}

.projects-cards__home {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projects-card__home {
    display: flex;
    flex-direction: column;
}

.projects-cards__title {
    width: fit-content;
    margin: 0;
    font-family: "Comfortaa", cursive;
    font-weight: 700;
    font-size: 1.2rem;
}

.projects-cards__img {
    width: 350px;
    border-radius: 20px;
    margin-bottom: 5px;
}

.projects-cards__number {
    font-family: "Comfortaa", cursive;
    font-weight: 500;
    font-size: 1.4rem;
    width: 70px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #023047;
    color: #FFFFFF;
    border-radius: 10px;
    align-self: flex-end;
    position: relative;
    bottom: 70px;
    left: 25px;
}

.on-home {
    display: none;
}

/* ----------------------- */

.projects-cards__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-card__projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 700px;
} 

.projects-card__projects p {
    font-family: "Comfortaa", cursive;
    text-align: left;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: flex-start;
}

.projects-card__projects p span {
    font-weight: 700;
    font-size: 1.2rem;
}

.buttons-container {
    width: 250px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    padding: 15px;
    margin-bottom: 5px;
}

.button {
    font-family: "Comfortaa", cursive;
    font-weight: 300;
    border: none;
    width: 80px;
    height: inherit;
    border-radius: 10px;
    background-color: #023047;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button a {
    text-decoration: none;
    color: #FFFFFF;
}

.button-disabled {
    font-family: "Comfortaa", cursive;
    font-weight: 300;
    border: none;
    width: 80px;
    height: inherit;
    border-radius: 10px;
    background-color: rgba(66, 73, 116, 0.5);
    color: #FFFFFF;
}

.button-disabled a {
    text-decoration: none;
    color: #FFFFFF;
    cursor: not-allowed;
}