.stack-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stack-container__tech {
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}