@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;700&display=swap');

.footer-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 80px;
    background-color: #CCCCCC;
}

.footer-container p {
    font-family: "Comfortaa", cursive;
    font-weight: 300;
    margin: 0;
}